.TodoList {

  .list-group-item:nth-child(odd){
    background-color: #ececec;
  }

  .list-group-item:nth-child(even){
    background-color: #dcdcdc;
  }

  .name {
    display: inline-block;
    margin-top: 4px;
  }

  button {

    &:after {
      display: block;
      margin-left: 5px;
    }

    &.remove:after {
      content: '🗑️';
    }

    &.move-up:after {
      content: '⬆️';
    }

    &.move-down:after {
      content: '⬇️';
    }

    &.to-done:after {
      content: '➡️';
    }

    &.to-todo:after {
      content: '⬅️';
    }

    &.undo, &.reset {
      border-right: 2px solid #ccc;
    }

    &.undo:before {
      content: '↩';
    }

    &.redo:after {
      display: inline;
      content: '↪';
    }

  }
 
  .undo-redo {
    @media (max-width: 767px){
      width: 100%;
      .btn {
        width: 100%;
      }
    }
    border:1px solid #aaa;
    border-radius: 3px;
  } 
}